# Backend DODOME
NEXT_PUBLIC_API_URL=http://localhost:8000/api
# ou prod
# NEXT_PUBLIC_API_URL=https://dodome-backend.onrender.com/api

# Auth (next-auth)
AUTH_SECRET=change-me-with-pnpx-auth-secret
AUTH_URL=http://localhost:3000

# Optionnel: business par défaut pour le dev (sinon sélecteur)
# NEXT_PUBLIC_DEFAULT_BUSINESS_ID=9eeb4036-ed50-4c13-a29f-56862ed4db16
